/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/****************************** MY CODE ******************************/

/**** BODY ****/
body{
  background-image: url("images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/**** HEADER-LEFT CONTAINER ****/
section.header-left{
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
/**** BRAND NAME ****/
.brand-container{
  color: white;
}
@font-face{
  src: url("fonts/Montserrat Font/Montserrat-Light.ttf");
  font-family: monlight;
}
.brand-container h2.brand-name{
  width: fit-content;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  margin-top: 30px;
  font-family: monlight;
}
.brand-container h2 span.firstname{
  opacity: 0.6;
  font-weight: lighter;
}
.brand-container p{
  text-align: center;
  font-family: monlight;
  font-size: 13px;
  line-height: 35px;
}
/**** LINKS ****/
.links-container ul{
  width: fit-content;
  margin: 5px auto 0px auto;
  display: block;
  font-family: monlight;
  font-size: 13px;
}
.links-container ul li{
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
}
.links-container ul li a{
  text-align: center;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.links-container .a-cv{
  display: none;
}
/**** Copyright Container ****/
.copyright-container p{
  display: none;
}
.sm-left{
  display: none;
}

@media only screen and (min-width: 1000px){
/**** HEADER-LEFT CONTAINER ****/
section.header-left{
  float: left;
  /*
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  */
  height: 100vh;
  width: 20%;
  background: rgba(0, 0, 0, 0.9);
}
/**** LINKS ****/
.links-container ul{
  float: left;
  margin-left: 30px;
  width: calc(100% - 57px);
}
.links-container ul li{
  text-align: left;
  border-bottom: 1px solid white;
  line-height: 50px;
  font-size: 15px;
}
.links-container ul li.last{
  border: none;
}
.links-container ul li a{
  display: block;
  text-align: left;
}
.links-container .a-cv{
  display: block;
  text-align: center;
  border: 1px solid white;
  margin-top: 50px;

  /*DEFAULT*/
  transition: all.5s;
}
.links-container .a-cv:hover{
  background-color: #3d3d3d;
  /*DEFAULT*/
  transition: all.5s;
}
/**** Social Media Icons ****/
.sm-left{
  float: left;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 50px;
}
/**** Copyright Container ****/
.copyright-container p{
  color: white;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-family: monlight;
  font-size: 12px;
  opacity: 0.7;
}
}
/**** MAIN CONTENT ****/
main{
  width: 100%;
  height: auto;
  opacity: 0.9;
}
.wrapper{
  background-color: white;
  overflow: hidden;
}

main .section-container h2{
  text-transform: uppercase;
  font-family: calibri;
  padding: 10px;
  height: auto;
  background-color: #d6d6d6;
  margin-bottom: 10px;
  font-weight: bolder;
}
main .section-container h3{
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
}
main .section-container .section-p{
  font-family: calibri;
  padding: 0px 20px 10px 20px;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
main .section-container .section-p ul{
  padding-left: 75px;
  padding-right: 10px;
}
main .section-container .section-p ul span.clickhyperlink{
  font-size: 17px;
}
main .section-container .section-p .military-p{
  padding-left: 55px;
}
main .section-container .section-p .box{
  margin: 40px auto 30px;
  height: 200px;
  width: 300px;
  box-shadow: 0px 0px 25px black; /* DEKSIA KATW THOLOURA XRWMA */
  border-radius: 5px;
}
main .section-container .section-p .box p{
  text-align: center;
  padding-top: 45px;
  font-size: 25px;
}
main .section-container .section-p .box .glyphicon{
  margin-top: 5px;
}
main .section-container .section-p .box a{
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
}
main .section-container .section-p .box a:hover{
  color: blue;
}
footer{
  height: 200px;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.9);
  overflow: hidden;
}
footer p{
  margin-top: 60px;
  text-align: center;
}
footer .copyright-footer{
  color: white;
  width: 100%;
  bottom: 30px;
  text-align: center;
  font-family: monlight;
  font-size: 12px;
}
/**** SOCIAL MEDIA ICONS ****/
a.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.fa:hover {
    opacity: 0.9;
    transform: translateY(-3px);
    color: white;
}
.fa:visited{
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-github{
  color: white;
}
@media only screen and (min-width: 1000px){
  /* width FROM W3SCHOOLS*/
.wrapper::-webkit-scrollbar {
    width: 10px;
}
/* Track FROM W3SCHOOLS*/
.wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle FROM W3SCHOOLS*/
.wrapper::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover FROM W3SCHOOLS*/
.wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}
main{
  float: left;
  width: 80%;=
}
.wrapper{
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  margin: 100px auto 0px auto;
}
footer{
  display: none;
}
}
